*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: bisque;

}

h1{
    padding-top: 2rem;
    color: purple;
    font-size: 2rem;
    text-align: center;
}

p{
    margin-top: 1rem;
    color: purple;
    font-size: 1.5rem;
}